---
import Layout from "../../layouts/Layout.astro";
import ServicesGrid from "../../components/ServicesGrid.astro";
import CostCta from "../../components/CostCta.astro";
import { site } from "../../data/site";
---

<Layout title={`Diensten, ${site.name}`}>
  <section class="bg-ink py-16 text-white">
    <div class="container-x text-center">
      <p class="eyebrow">Onze Diensten</p>
      <h1 class="mt-4 text-4xl text-white sm:text-5xl">Alles voor uw dak</h1>
      <p class="mx-auto mt-4 max-w-xl text-white/70">
        Van complete dakrenovatie tot snelle reparatie en spoedservice, ontdek waarmee
        wij u kunnen helpen.
      </p>
    </div>
  </section>

  <ServicesGrid />
  <CostCta />
</Layout>
